#	 50 MHz Clock on FPGA
NET "GLOBAL_CLOCK" LOC = T8;

#	 PushButtons on FPGA
NET "INPUT<0>" LOC = L3 | IOSTANDARD = LVTTL | PULLUP;
NET "INPUT<1>" LOC = E3 | IOSTANDARD = LVTTL | PULLUP;
NET "INPUT<2>" LOC = E4 | IOSTANDARD = LVTTL | PULLUP;
NET "INPUT<3>" LOC = D3 | IOSTANDARD = LVTTL | PULLUP;
NET "INPUT<4>" LOC = C3 | IOSTANDARD = LVTTL | PULLUP;

#   FPGA LEDS OUTPUT
#NET "OUTPUT<0>" LOC = M6;
#NET "OUTPUT<1>" LOC = P5;
#NET "OUTPUT<2>" LOC = N5;
#NET "OUTPUT<3>" LOC = P4;

#	FPGA Seven Segments
NET "OUTPUT<0>" LOC = D5;
NET "OUTPUT<1>" LOC = E7;
NET "OUTPUT<2>" LOC = D6;
NET "OUTPUT<3>" LOC = F7;
NET "OUTPUT<4>" LOC = C5;
NET "OUTPUT<5>" LOC = E6;
NET "OUTPUT<6>" LOC = C7;
NET "OUTPUT<9>" LOC = C6;
NET "OUTPUT<10>" LOC = D8;
NET "OUTPUT<11>" LOC = E8;
NET "OUTPUT<12>" LOC = F9;
NET "OUTPUT<13>" LOC = F10;
NET "OUTPUT<14>" LOC = E10;
NET "OUTPUT<15>" LOC = D9;

#  FPGA PINS
#NET "OUTPUT<0>" LOC = K16;
#NET "OUTPUT<1>" LOC = L16;
#NET "OUTPUT<2>" LOC = M15;
#NET "OUTPUT<3>" LOC = P16;
#NET "OUTPUT<4>" LOC = R16;
#NET "OUTPUT<5>" LOC = T15;
#NET "OUTPUT<6>" LOC = T14;
#NET "OUTPUT<7>" LOC = R12;
#NET "OUTPUT<8>" LOC = R9;
#NET "OUTPUT<9>" LOC = L8;
#NET "OUTPUT<10>" LOC = R7;
#NET "OUTPUT<11>" LOC = T5;
#NET "OUTPUT<12>" LOC = T4;
#NET "OUTPUT<13>" LOC = R2;
#NET "OUTPUT<14>" LOC = P2;
#NET "OUTPUT<15>" LOC = P6;